$boxBck: black;
$boxFont: white;
// var for boxFrame

$boxBck: black;
$boxFont: white;
// var for boxFrame

$red: #ff4d54;
$white: #fff;

$mainYellow: #ffcc33;
$mainRed: #bf0000;

$taglineFontF: 'Assistant', sans-serif;
$mainFontF: 'Roboto', sans-serif;

$mtaglineFontS: 4.563em;
$mtaglineH: 5em;
$dtaglineFontS: 6.750em;
$dtaglineH: 7.000em;

$mheadingFontS: 3.125em;
$mheadingC: #e61515;
$dheadingFontS: 5.188em;
$dheadingH: 5.563em;

$mpFontS: 0.938em;
$dpFontS: 1.175em;

$mnumberS: 2.75em;
$mnumberO: 0.21;
$dnumberS: 3.488em;

$msignUpS: 1.250em;
$dsignUpS: 3.750em;

$misgnUppS: 0.938em;
$misgnUppS: 1.625em;

@mixin transformRotate($property) {
    -moz-transform: rotate($property) translate(-1px, 0px);
    -webkit-transform: rotate($property) translate(-1px, 0px);
    -o-transform: rotate($property) translate(-1px, 0px);
    -ms-transform: rotate($property) translate(-1px, 0px);
    transform: rotate($property) translate(-1px, 0px);
  }

  @mixin cursorNone() {
    -webkit-touch-callout: none; /* iOS Safari /
    -webkit-user-select: none; / Safari /
       -moz-user-select: none; / Firefox /
        -ms-user-select: none; / Internet Explorer/Edge */
            user-select: none; 
    }

$overlay-menu-color: #FFCC33;
$overlay-menu-text-color: black;
$overlay-menu-button-size: 2.25rem;

//register button

@mixin btn-border-drawing($color: $mainYellow, $hover: $mainRed, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: $hover !important;
  transition: color $duration $duration/3;
  position: relative;
  font-size: 0.8em;
  font-family: $mainFontF;
  padding: 0.8em 0;
  .bold{
    font-family: $taglineFontF;
    font-size:  2.5em;
    font-weight: 800;
  }
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  
  &:hover {
    color: $hover ;
    font-weight: bolder;
    transform: scale(1.01);

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;

    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

// article card 
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}