.hide {
  display: none; }

#mainHeader {
  height: 4rem;
  top: 0; }
  #mainHeader ul {
    list-style: none; }

#mainLogo {
  position: fixed;
  top: .7rem;
  left: 1.25rem;
  width: 2.5rem;
  z-index: 5; }
  @media screen and (min-width: 1200px) {
    #mainLogo {
      width: 3em;
      top: 1rem; } }

@media screen and (min-width: 1200px) {
  .yellow {
    background-color: #ffcc33; } }

section {
  margin-top: 3rem;
  padding-bottom: 1rem; }
  @media screen and (min-width: 1200px) {
    section {
      box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.36);
      max-width: 90vw;
      background-color: white; } }

p, button {
  font-family: "Roboto", sans-serif; }

#intro {
  margin-top: 0; }

#tagLine {
  font-size: 4.563em;
  font-weight: bold;
  font-family: "Assistant", sans-serif; }
  @media screen and (min-width: 1200px) {
    #tagLine {
      font-size: 7.25em;
      line-height: 1em; } }

.pulse {
  max-width: 320px; }
  @media screen and (min-width: 1200px) {
    .pulse {
      max-width: 500px; } }

button {
  border: 2px solid #ffcc33;
  width: 100%;
  background-color: none;
  color: #bf0000;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem; }
  button #butSub {
    font-weight: normal;
    text-transform: uppercase; }

#vidPromo {
  border: 8px solid #ffcc33;
  padding: 1rem; }
  #vidPromo iframe {
    width: 100%;
    height: 100%; }

.crt-logo {
  font-size: 0.1em !important; }

#stages h2, #abTitle, #stTitle {
  text-transform: uppercase;
  font-size: 3.125em; }
  #stages h2 #qMark, #abTitle #qMark, #stTitle #qMark {
    color: #bf0000; }

#stgHead, #abTitle, #stTitle {
  border: 10px solid #ffcc33;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: "Assistant", sans-serif; }

@media screen and (min-width: 1200px) {
  #abText {
    border: 10px solid #ffcc33;
    padding: 1rem;
    font-family: "Assistant", sans-serif;
    font-size: 1.175em;
    height: 100%; } }

@media screen and (min-width: 1200px) {
  #stTitle {
    font-size: 5.188em; } }

#stages {
  overflow: hidden; }
  #stages .spTxt {
    font-family: "Roboto", sans-serif; }
    #stages .spTxt h3 {
      color: grey;
      font-size: 2.75em;
      display: inline;
      margin-right: 1.2rem;
      vertical-align: middle; }
      @media screen and (min-width: 1200px) {
        #stages .spTxt h3 {
          font-size: 3.488em; } }
    #stages .spTxt p {
      font-size: 0.938em;
      display: inline;
      vertical-align: middle; }
      @media screen and (min-width: 1200px) {
        #stages .spTxt p {
          font-size: 1.175em; } }
  #stages #steps {
    margin-top: 0; }

.rightF {
  float: right; }

@media screen and (min-width: 1200px) {
  #about h2 {
    font-size: 5.563em;
    line-height: 1em; } }
#about p {
  font-size: 0.938em; }
@media screen and (min-width: 1200px) {
  #about #abTitle {
    border: none; } }
#about #organLight {
  position: relative; }
  #about #organLight img {
    position: absolute;
    max-height: 60vh;
    max-width: 60%;
    right: 0; }

#steps {
  overflow: hidden; }
  #steps h2 {
    text-align: center; }

.overlay-menu {
  position: fixed;
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 10; }
  .overlay-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .overlay-menu .overlay-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-200%);
    transition: transform 0.7s;
    transition-delay: 0.5s;
    visibility: hidden; }
  .overlay-menu .overlay-menu-list li {
    width: 100%;
    font-size: 3em;
    min-height: 2.250em;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    transition: all 0.2s ease-in;
    font-weight: bold; }
    @media screen and (min-width: 1200px) {
      .overlay-menu .overlay-menu-list li {
        font-size: 4em;
        min-height: 2.5em; } }
    .overlay-menu .overlay-menu-list li:hover {
      transform: scale(1.2);
      text-decoration-style: double;
      text-decoration-color: black; }
      .overlay-menu .overlay-menu-list li:hover a {
        color: black; }
    .overlay-menu .overlay-menu-list li #selected {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10%;
      border-radius: 5rem; }
    .overlay-menu .overlay-menu-list li a {
      color: black;
      justify-content: center; }

.overlay-menu .overlay {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.55s; }
  .overlay-menu .overlay:nth-child(odd) {
    background: #FFCC33; }
  .overlay-menu .overlay:nth-child(2) {
    flex: 0 0 100%;
    background: transparent; }

.overlay-menu-button {
  z-index: 9;
  position: fixed;
  top: .7rem;
  right: 1.25rem; }
  @media screen and (min-width: 1200px) {
    .overlay-menu-button {
      top: 1rem; } }

.overlay-menu-button-toggle {
  width: 2.250em;
  height: 2.250em;
  border-radius: 5000px;
  background: white;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  .overlay-menu-button-toggle div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 0.2em;
    background: black;
    transition: transform 0.45s;
    transition-delay: 0.5s; }
  .overlay-menu-button-toggle .bar1 {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg); }
  .overlay-menu-button-toggle .bar2 {
    transform: translateX(-50%) translateY(-50%) rotate(-180deg); }
  .overlay-menu-button-toggle:hover {
    background: #FFCC33; }
    .overlay-menu-button-toggle:hover div {
      background: black; }
  .overlay-menu-button-toggle:active {
    box-shadow: none; }

.overlay-menu-open .overlay:nth-child(2) {
  flex: 0 0 0%; }
.overlay-menu-open .overlay-menu-wrapper {
  transform: translateY(0%);
  visibility: visible;
  pointer-events: all; }
.overlay-menu-open .overlay-menu-button-toggle .bar1 {
  transform: translateX(-50%) translateY(-50%) rotate(135deg); }
.overlay-menu-open .overlay-menu-button-toggle .bar2 {
  transform: translateX(-50%) translateY(-50%) rotate(45deg); }

.draw-border {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #bf0000;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  padding: 0.8em 0;
  margin: 15% 0; }
  .draw-border .bold {
    font-family: "Assistant", sans-serif;
    font-size: 2.5em;
    font-weight: 800; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 8px;
    border-left-width: 8px; }
  .draw-border::after {
    border-top-width: 8px;
    border-right-width: 8px; }
  .draw-border:hover {
    color: #bf0000;
    font-weight: bolder;
    transform: scale(1.01); }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #bf0000;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.tweet h2 {
  color: #bf0000;
  font-family: "Assistant", sans-serif;
  font-size: 3.125em; }

#contactForm {
  margin: 0 auto; }

@media screen and (min-width: 1200px) {
  #conTactTag {
    margin-top: 3rem;
    font-size: 3.75em; } }

@media screen and (min-width: 1200px) {
  #conTact {
    margin-bottom: 2rem; } }
#conTact p {
  font-size: 0.938em;
  font-family: "Roboto", sans-serif; }
  @media screen and (min-width: 1200px) {
    #conTact p {
      font-size: 1.175em; } }
#conTact form {
  display: table; }
  #conTact form label {
    position: relative;
    display: block; }
    @media screen and (min-width: 1200px) {
      #conTact form label #message {
        padding: 45px; } }
    #conTact form label input {
      font: "Roboto", sans-serif;
      text-transform: uppercase;
      box-sizing: border-box;
      display: block;
      border: 3px solid #ffcc33;
      padding: 20px;
      width: 100%;
      border-radius: 2px;
      margin-bottom: 20px;
      font-size: 1.125em;
      outline: none;
      transition: all 0.2s ease-in-out; }
      @media screen and (min-width: 1200px) {
        #conTact form label input {
          padding: 15px; } }
      #conTact form label input::placeholder {
        transition: all 0.2s ease-in-out;
        color: #666666;
        text-emphasis: shadow 1px;
        font: 1em "Roboto", sans-serif;
        text-align: center; }
      #conTact form label input:focus, #conTact form label input.populated {
        padding-top: 28px;
        padding-bottom: 12px; }
        #conTact form label input:focus::placeholder, #conTact form label input.populated::placeholder {
          color: transparent; }
        #conTact form label input:focus + span, #conTact form label input.populated + span {
          opacity: 1;
          top: 10px; }
    #conTact form label span {
      color: #bf0000;
      font: 1em "Roboto", sans-serif;
      text-transform: uppercase;
      position: absolute;
      top: 0px;
      left: 20px;
      opacity: 0;
      transition: all 0.2s ease-in-out; }

.flex {
  align-items: center;
  justify-content: center; }

a.bttn {
  color: #bf0000;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all; }
  a.bttn:hover {
    color: #FFF;
    z-index: 2; }
  a.bttn:focus {
    color: #FFF;
    z-index: 2; }

.bttn {
  padding: 5px;
  width: 100%;
  font-size: 1.125em;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid #bf0000;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #bf0000;
    z-index: -2; }
  .bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -2; }
  .bttn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; }

#conTactTag, #signUpTag {
  border: 10px solid #ffcc33;
  padding: 1rem;
  margin-bottom: 3rem;
  font-family: "Assistant", sans-serif;
  text-transform: uppercase; }

.map {
  max-width: 500px; }
  @media screen and (min-width: 1200px) {
    .map {
      max-width: 100%; } }

#signUp {
  margin-top: 0; }
  #signUp #signupH {
    margin: 0 auto; }
    @media screen and (min-width: 1200px) {
      #signUp #signupH {
        margin: 3rem 0 0 0; } }
  #signUp #emphasis {
    color: #ffcc33; }
  #signUp #promoTxt {
    font-family: "Roboto", sans-serif; }
    #signUp #promoTxt h2 {
      font-size: 1.25em; }
      @media screen and (min-width: 1200px) {
        #signUp #promoTxt h2 {
          font-size: 3.75em; } }
    #signUp #promoTxt #promoP {
      margin-top: 2rem; }
      #signUp #promoTxt #promoP p {
        font-size: 0.938em; }
        @media screen and (min-width: 1200px) {
          #signUp #promoTxt #promoP p {
            font-size: 1.175em; } }
  #signUp .imgContainer {
    position: relative;
    text-align: center; }
  #signUp #cTime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Assistant", sans-serif;
    color: #bf0000;
    font-size: 3.125em; }
    @media screen and (min-width: 1200px) {
      #signUp #cTime {
        font-size: 5.188em; } }

/*# sourceMappingURL=main.css.map */
