<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Lighting Up Lives Campaign</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Assistant:700|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">   
</head>
    <body>
        <main id="app">

        <header id="mainHeader" data-magellan-target="mainHeader">
            <div data-sticky-container>
                    <div @click="removeClassMenu()">
                <div id="logIcon" v-if="authenticated" @click.prevent="logout()"><a href="" id="logBut">Log Out</a></div>
                <div id="logIcon" @click.prevent="to_login()" v-else><a href="" id="logBut">Login</a></div>
            </div>
                <nav id="mainNav" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
                    <h2 class="hide">Main Navigation</h2>
                    <ul class="menu align-center" data-magellan data-offset="100">
                        <li class="menu-text"><router-link :to="{ name: 'main'}"><img src="images/web/Logo.svg" id="mainLogo" alt="main Logo of the site"></object></router-link></li>
    
                        <li>
                            <div v-on:click="addClassMenu" id="menuBtn" class="overlay-menu-button openBtn">
                                <div class="overlay-menu-button-toggle">
                                    <div class="bar1"></div>
                                    <div class="bar2"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        <!-- the menu  -->
        </header>
        <!--header ends here-->
        <div id="overlay" class="transparent"></div>
        <!-- the trigger -->
    
        <div class="overlay-menu">
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay-menu-wrapper">
                    <ul class="overlay-menu-list menu vertical" data-magellan>
                           
                        <li v-on:click="addClassMenu"><router-link :to="{ name: 'main'}"><a :class="{ 'selected': this.$route.name==='main'}">Home</a></router-link></li>
                        <li v-on:click="addClassMenu"><router-link :to="{ name: 'news'}"><a :class="{ 'selected': this.$route.name==='news'}">News</a></router-link></li>
                        <li v-on:click="addClassMenu"><router-link :to="{ name: 'statistics'}"><a :class="{ 'selected': this.$route.name==='statistics'}">Statistics</a></router-link></li>
                        <li v-on:click="addClassMenu"><router-link :to="{ name: 'contact'}"><a :class="{ 'selected': this.$route.name==='contact'}">Sign Up / Contact Us</a></router-link></li>
                    </ul>
                </div>
        </div>
    <!-- nav ends here -->

    <div class="toast float-right" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500">
        <div class="toast-header">
            <strong class="mr-auto">App Error</strong>
            
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <i class="fas fa-exclamation-triangle"></i> <span>{{ toastmessage }}</span> 
        </div>
    </div>

<!-- first thing in component templates should be a container -->

<router-view @authenticated="setAuthenticated" @autherror="popError"/>	

</main>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>$('.toast').toast();</script>
<script type="module" src="js/main.js"></script>
</body>
</html>