.article{
    background-color: $mainYellow;
}

// Base styles
.card {
    padding: 1.7rem;
    width: 100%;
    .menu-content {
      @include cf;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
      }
      a {
        color: $white;
      }
      span {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Open Sans';
        transform: translate(-50%, 0);
      }
    }
    .wrapper {
      background-color: $white;
      // min-height: 540px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
      &:hover {
        .data {
          transform: translateY(0);
        }
      }
    }
    .data {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(calc(70px + 1em));
      transition: transform 0.3s;
      .content {
        padding: 1em;
        position: relative;
        z-index: 1;
      }
    }
    .author {
      font-size: 12px;
    }
    .title {
      margin-top: 10px;
    }
    .text {
      height: 70px;
      margin: 0;
    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox']:checked + .menu-content {
      transform: translateY(-60px);
    }
  }

// card scss starts from here
.example-2 {
    .wrapper {
        img {
            width: 100%;
            min-height: 26.5rem;
            filter: brightness(50%);
        }
      &:hover {
        .menu-content {
          span {
            transform: translate(-50%, -10px);
            opacity: 1;
          }
        }
      }
      .like li {
          display: inline;
          // float: right;
          a {
              list-style-type: none;
              margin-left: 1rem;
              color: white;
          }
      }

      .fa-heart-red {
          color:red;
      }

      .fa-thumb-blue {
          color: rgb(41, 125, 250);
      }
    }
    .data {
      color: $white;
      transform: translateY(calc(70px + 4em));
    }
    .title {
      a {
        color: $white;
      }
    }
    .button {
      display: block;
      width: 100px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: $white;
      line-height: 1;
      position: relative;
      font-weight: 700;
      &::after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
      }
      &:hover {
        &::after {
          transform: translate(5px, -50%);
          opacity: 1;
        }
      }
    }
  }

  .article-card{
      margin-top: 2rem;
  }

  #addArt{
      font-size: 1rem;
      text-decoration: underline;
      i {
          margin-left: .5rem;
      }
  }

  #articleTag {
      border: 10px solid white;
      padding: 1rem 3rem 1rem 3rem;

      a {
        color: black;
      }
  }