#article-header {
    padding:0 10% 0 10%;
img {
    max-height: 100%;
    max-width: 100%;
}
}

.titleHr {
    width: 40%;
    background-color: $mainRed;
}

.content p {
    font-family: $mainFontF;
}

#source {
    color: black;
    font-size: 1rem;
    font-family: $mainFontF;

    .fa-arrow-right{
        font-size: .65rem;
    }

    #links {
        text-decoration: underline;
        color: grey;
        font-size: .75rem;
    }

}

.comment {
    border: 5px solid black;
    font-family: $mainFontF;
    height: 5000rem;

}
.logInput {
    width: 100%;

}

@media screen and (min-width: 1200px){

.logInput {

    display: inline;
}

#createuser {
    font-size: .6rem;

}
}
.fa-plus-circle {

    font-size: 10px;

}

.media-body a {
    color: black;
    text-decoration: none;
}


a:active {
    color: $mainRed;
}

#addAcc {
    text-decoration: none;
    font-size: .8em;
    margin-right: 1rem;
}