#mainFact{
    background-color: $mainYellow;
    padding-bottom: 20%;
    padding-top: 3%;
    @media screen and (min-width: 1200px){
        padding-bottom: 15%;
    }

#chartLogo{
        @media screen and (min-width: 1200px){
            max-width: 40%;
        }
        max-width: 70%;
        vertical-align: middle;
        border-style: none;
        position: relative;

        #logoMain{
        margin: 0 auto;
        width: 60%;
        display: block;
        margin-top: 25%;
        }
        #logoRibbon{
            position: absolute;
            bottom: -114%;
            left: -13%;
            width: 130%;
        }
        #logoText{
            top: -40%;
            position: absolute;
            left: -4%;
        }

    }

}

.semiCircleEdge {
    height: 13px;
    width: 100%;
    display: block;
    z-index: 2;
}

#mainFactText{
    background: #DFF1FD;
    position: relative;
    overflow: hidden;
    .topEdgeRed {
        background: url(../images/border_yellow_bottom.png) top center repeat-x;
        top: 0;
    }
    .bottomEdgeAqua {
        background: url(../images/border_red_top.png) top center repeat-x;
        bottom: 0;
        position: relative;
    }
  
    #s1Parallax1 {
        background: url(../images/charts_parallax2.png) top center;
        height: 1400px;
    }
    #s2Parallax1{
        background: url(../images/charts_parallax1.png) top center;
        height: 1400px;
    }
    .s1Parallax, .s2Parallax {
        width: 100%;
        position: absolute;
    
    }
    #checkText{
        position: relative;
        text-align: center;
        font-family: $taglineFontF;
 
        h2{
            font-size: 1.5em;
            padding: 80px 15px 0;
            color:#555;
        }
        h3{
            font-size: 2.2em;
            padding: 15px 0 30px 0;
            max-width: 990px;
            margin: auto;
            color: #e84248;
            font-weight: 700;
        }
        @media screen and (min-width: 1200px){
            h2{
                font-size: 3em;
 
            }
            h3{
                padding: 15px 0 80px 0;
                font-size: 6em; 
                line-height: 113px;
            }
        }
    }
}

#misCon{

    background-color: #e84248;
    h3{
        text-align: center;
        color: white;
        font-size: 2em;
        @media screen and (min-width: 1200px){
                font-size: 5em;
        }
    }
    h4{
        text-align: center;
        color: white;
        font-size: 1.2em;
        @media screen and (min-width: 1200px){
                font-size: 1.87em;
        }
    }

.cardImages{
    width: 100%;
}
.cards{
    justify-content: center;
    position: relative;
    h4{
        margin-top: 0.4em;
        font-family: $taglineFontF;
    }
}
  .checkBtn{
      width: 50px;
      height: 50px;
      &:hover{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		transform: scale(1.1);
      }
      border-radius: 50%;
  }
}
.bottomEdgeRed {
    background: url(../images/border_red_bottom.png) top center repeat-x;
    bottom: 0;
    position: relative;
    z-index: 3;
}
#situationCon{
    padding-bottom:10%;
    background-color:#dff0fc;
    .situationImg{
        width:100%;
    }
    h3{
        font-size: 2em;
        max-width: 990px;
        margin: auto;
        color: #56BCC6;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5rem;
        @media screen and (min-width: 1200px){
            font-size: 5em;
        }
    }
    h4{
        font-size: 1.7em;
        color: #555;
        span{
            font-weight: 900;
        }
        @media screen and (min-width: 1200px){
            font-size: 2.7em;
        }
    }
    h5{
        color: #e84248;
        font-size: 2em;
        font-weight: 900;
        @media screen and (min-width: 1200px){
                font-size: 5em;
        }
    }
    h6{
        color: #555;
        font-size: 1.2em;
        @media screen and (min-width: 1200px){
                font-size: 1.7em;
        }
    }
    p{
        padding-top: 3rem;
        color:#777;
        text-align: center;
        font-size: 1.3em;
        @media screen and (min-width: 1200px){
            font-size: 2.3em;
        }
    }
    #middleText{
        text-align: center;
        color:black;
        font-size: 2em;
        @media screen and (min-width: 1200px){
            font-size: 8em;
        }
    }
    .centerText{
        text-align: center;
    }

}

// number counter
@function rem($px) {
	@return ($px/16px)*1rem;
}

.counter {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem !important;
	position: relative;
	display: flex;
	overflow: hidden;
    align-items: center;
    text-align: center;
    margin: 0 10%;
    @media screen and (min-width: 1200px){
        height: rem(160px);
        font-size: rem(160px) !important;
    }
	height: rem(30px);
	font-size: rem(30px) !important;
	color: #333;
	& > span {
		z-index: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
		transition: transform 2s ease;
		transform: translateY(0);
		line-height: 1;
		span {
			flex: 0 0 100%;
			height: 100%;
		}
	}
	$d: 0;
	$inc: 0.375;
	@for $i from 1 through 20 {
		&:nth-child(#{$i}) > span {
			transition-delay: #{$d * 1s};
		}
		$d: $d + $inc;
	}
}
.counter:nth-child(1) {
	color: #EF8354;
}
.counter:nth-child(2) {
	color: #0EB1D2;
}
.counter:nth-child(3) {
	color: #2D3142;
}
.counter:nth-child(4) {
	color: #698F3F;
}

.bottomEdgeGrey {
    background: url(../images/border_grey_top.png) top center repeat-x;
    bottom: 0;
}
// support section
#supportSection{
    text-align: center;
    background-color: #334C49;
    h2{
        font-size: 1.5em;
        padding: 80px 0 15px 0;
        color: white;
    }
    h3{
        font-size: 2.2em;
        padding: 15px 0 30px 0;
        max-width: 990px;
        margin: auto;
        color: white;
        font-weight: 700;
    }
    span{
        color: #e84248;
    }
    #supportBtn{
        background-color:white; 
        width: 70%;
        span{
            font-size: 1.3em; 
        }
    }
    @media screen and (min-width: 1200px){
        h2{
            font-size: 3em;

        }
        h3{
            padding: 15px 0 80px 0;
            font-size: 3.7em; 
            line-height: 113px;
            span{
                font-size: 4em; 
                line-height: 1em;
            }
        }
        #supportBtn{
            width: 100%;
            span{
                font-size: 3em; 
            }
        }
    }
}