#commentSec {
    width: 100%;
}


.commentBtn {
    margin-top: .5rem;
    background-color: $mainRed;
    border: none;
    color: $white;
    height: 45px;
    width: 100%;
    max-width:93px;
    text-align: center;
    font-size: .8em;
}