@import url(https://fonts.googleapis.com/css?family=Raleway);

$red: #bf0000;
$white: #fff;

@mixin perspective($pixels) {
	-webkit-perspective: $pixels;
	-moz-perspective: $pixels;
	-o-perspective: $pixels;
	perspective: $pixels;
}

@mixin transition($speed) {
	-webkit-transition: -webkit-transform $speed;
	-moz-transition: -moz-transform $speed;
	-o-transition: -o-transform $speed;
	transition: transform $speed;
}

@mixin transform-style() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin transform($degrees) {
	-webkit-transform: rotateX( $degrees + deg);
	-moz-transform: rotateX( $degrees + deg);
	-o-transform: rotateX( $degrees + deg);
	transform: rotateX( $degrees + deg);
}

@mixin backface-visibility() {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cont-contactInfo {
	
	float: left;
	width: 45%;

	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 22px;
		font-weight: normal;
		text-transform: uppercase;
	}

	h4.section {
		margin: 30px 0 0;
	}

	p {
		margin: 0;
	}

	p > a {
		text-transform: uppercase;
		font-weight: bold;
	}

	.social-icons {
		list-style: none;
		margin: 5px 0 0;
		padding: 0;

		li {
			float: left;
			margin-right: 3px;

			a {
				background-image: url("../images/sprite_social_icons.png");
				background-repeat: no-repeat;
				display: block;
				height: 28px;
				width: 29px;
			}

			a:hover {
				opacity: .8;
			}

			a.icon_twitter {
				background-position: -33px 0;
			}

			a.icon_linkedin {
				background-position: -68px 0;
			}

			a.icon_youtube {
				background-position: -102px 0;
			}

			a.icon_pinterest {
				background-position: -135px 0;
			}

			a.icon_vimeo {
				background-position: -169px 0;
			}

			a.icon_instagram {
				background-position: -204px 0;
			}
		}
	}
}

.cont-contactBtn {

	height: 30rem;
	width: 100%;
  position: relative;
  

	@include perspective(800px);

	.cont-flip {

		@include transition(.5s);
		@include transform-style();
		height: 100%;
		width: 100%;

		.front, .back {
			display: block;
			margin: 0;
			height: 100%;
			width: 100%;
			position: absolute;

			@include backface-visibility;
		}

		.back {
			background-color: $white;
			@include transform(180);
		}
	}

	.btnn {
		border: 0.5rem solid #bf0000;
		box-shadow: 2px 2px 5px grey;
		transition: all 0.2s ease-in-out;
		#sendBut {
		font-family:$taglineFontF;
			font-size: 3rem;
			font-weight: bold;
			color: $mainRed;
		}
	}

	.btnn:hover {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		transform: scale(1.1);
		border: 0.7rem solid #bf0000;

	}

	.btnn:active {
		transform: scale(.98);
		transition: .1s linear;
	}

	.cont-flip.flipped {
		@include transform(180);
	}

	.contact-form {
		padding: 0 10%;
		margin-top: 50px;
		width: 100%;

		input, textarea {
			border: 1px solid #808080;
			font-size: 12px;
			padding: 10px 0;
			text-transform: uppercase;
		}

		input[type="text"], textarea {
			float: left;
			margin-bottom: 8px;
			padding-left: 3%;
      width: 100%;

    }


		input[type="submit"] {
			background-color: $red;
			border: none;
			color: $white;
			height: 45px;
			width: 100%;
			max-width:93px;
			text-align: center;
		}

	}
}
#frontCard{
	display: flex;
    justify-content: center;
    align-items: center;
}
.btnn {
	border-radius: 50%  black solid;
  	color: black;
	display: block;
	font-size: 15px;
	font-weight: normal;
	margin: 0 auto;
  	padding: 3rem 1rem 3rem 1rem;
  	max-width: 288px;
	text-align: center;
	text-transform: uppercase;
  	text-decoration: none;
	width: 100%;
}
#conTact{
	font-family: $taglineFontF;
	margin-bottom: 5%;
}