
.hide {
    display: none;
}

#mainHeader{
    height: 4rem;
    ul{
        list-style: none;
    }
    top:0;
}



#mainLogo{
    position: fixed;
    top: .7rem;
    left: 1.25rem;
    width:2.5rem;
   z-index: 5;
    @media screen and (min-width: 1200px){
        width: 3em;
        top: 1rem;
    }

}

#logIcon{
    z-index: 5;
    position: fixed;
    right: 5em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    height: 2.250em;
    padding: .3em .5em .1em .5em;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

#logIcon:hover{
    background-color: $mainYellow;
}

#logBut{
    color: black;
    text-decoration: none;
}

#logIcon:active{
    box-shadow: none;
    transform: scale(80%);
}
