.yellow{
    @media screen and (min-width: 1200px){
    background-color:$mainYellow;
    }
}
.toast{
    position: absolute;
}
section{
    margin-top: 3rem;
    padding-bottom: 1rem;
 
    @media screen and (min-width: 1200px){
        box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.36);
    max-width: 90vw;
    background-color: white; 
    }
}

p, button {
    font-family: $mainFontF;
}

// Index Page css starts from here.

#intro{
    margin-top: 0;

}

#tagLine{
    font-size: $mtaglineFontS;
    font-weight: bold;
    font-family: $taglineFontF;
    @media screen and (min-width: 1200px){
        font-size: $dtaglineFontS;
        line-height: 1em;
    }
}
.pulse{
max-width: 320px;
@media screen and (min-width: 1200px){
    max-width: 500px;
}
}

button{
    border: 2px solid $mainYellow;
    width: 100%;
    background-color: none;
    color: $mainRed;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;

    #butSub{
        font-weight: normal;
        text-transform: uppercase;
    }
}

// index Video Section
#vidPromo{
    border: 8px solid $mainYellow;
    padding: 1rem;
    
    iframe {
        width: 100%;
        height: 100%;
    }
}
.crt-logo{

    font-size:0.1em !important;
}
body{
    font-family: $mainFontF !important;
}
