
.overlay-menu {
    position: fixed;
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 10;  //important
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
  
  
      .overlay-menu-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 100vh;
          width: 100vw;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transform: translateY(-200%);
          transition: transform 0.7s;
          transition-delay: 0.5s;
          visibility: hidden;
       
  }
  
    .overlay-menu-list {
      font-family: "Assistant",sans-serif;
      li {
        width: 100%;
        font-size: 3em;
        min-height:  2.250em;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        transition: all 0.2s ease-in;
        // font-family: $pointF;
        font-weight: bold;
   
          @media screen and (min-width: 1200px){
              font-size: 4em;
              min-height: 2.5em;
          }
  
        &:hover {
          transform: scale(1.2);
          text-decoration-style: double;
          text-decoration-color: black;
          
  
          a {
            color: black;
         
          }
        }
        .selected{
            background-color: rgba(255,255,255,0.5);
            padding: 1%;
            border-radius: 5rem;
        }
      
  
        a {
          color: $overlay-menu-text-color;
          justify-content: center;
         
        }
      }
    }
  }
  
  .overlay-menu .overlay {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.55s;
  
      &:nth-child(odd){
          //1,3 color  **maybe change to two different colors.
          background: $overlay-menu-color
      }
  
      &:nth-child(2) {
          flex:0 0 100%;
          background: transparent;
      }
  
  
  }
  
  .overlay-menu-button {
    z-index: 9;  //important
    position: fixed;
    top: .7rem;
    right: 1.25rem;
    @media screen and (min-width: 1200px){
      top: 1rem;
    }
  }
  
  .overlay-menu-button-toggle {
    width: 2.250em;;
    height: 2.250em;;
    border-radius: 5000px;
    background: white;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;
  
      //button bar
      div {
            //TODO: position at right top corner
          position: absolute;
          top: 50%;
          left: 50%;
        
          width: 1em;
          height: 0.2em;
          background: black;
          transition: transform 0.45s;
          transition-delay: 0.5s;
      }
      //button Animation
          .bar1{
              transform: translateX(-50%)translateY(-50%)rotate(-90deg);
          }
          .bar2{
              transform: translateX(-50%)translateY(-50%)rotate(-180deg);
          }
  
      &:hover {
          background: $overlay-menu-color;
  
          div{
          background: $overlay-menu-text-color;
          }
      }
  
  
      &:active {
          box-shadow: none;
      }
    
  }
  
  
  //added class on javascript.
  .overlay-menu-open {
      .overlay:nth-child(2) {
          flex: 0 0 0%;
      }
      
  
      .overlay-menu-wrapper {
          transform: translateY(0%);
          visibility: visible;
          //TODO:make the hover effect comeback
          pointer-events:all;
      }
      
      //button Animation toggle
      .overlay-menu-button-toggle {
          .bar1{
          transform: translateX(-50%)translateY(-50%)rotate(135deg);
          }
  
          .bar2{
          transform: translateX(-50%)translateY(-50%)rotate(45deg);
          }
      }
  }
  
