
 #conTactTag,#signUpTag {
	border: 10px solid $mainYellow;
    padding: 1rem;
    margin-bottom: 3rem;
    font-family: $taglineFontF;
    text-transform: uppercase;
}


@media screen and (min-width: 1200px) {
   
    #conTactTag {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    }

}


.map{
    max-width: 500px;
    @media screen and (min-width: 1200px){
        max-width: 100%;
    }
    }

#signUp{
    #signupH{
        @media screen and (min-width: 1200px){
            margin: 3rem 0 0 0;
        }
        margin: 0 auto;
    }
    margin-top:0;

    #emphasis {
        color: $mainYellow;
    }
    #promoTxt{
        font-family: $mainFontF;
        h2{
            font-size: $msignUpS;
            @media screen and (min-width: 1200px){
                font-size: 3.5em;
            }
        }
        #promoP{
            margin-top: 2rem;
            p{
                font-size: $mpFontS;
                @media screen and (min-width: 1200px){
                    font-size: $dpFontS;
                }
            }
        }
	
}
.imgContainer {
    position: relative;
    text-align: center;
 
  }
#cTime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: $taglineFontF;
	color: $mainRed;
	font-size: $mheadingFontS;
    @media screen and (min-width: 1200px){
        font-size: $dheadingFontS;
    }
}
}
