#stages h2, #abTitle ,#stTitle {
    text-transform: uppercase;
    font-size: $mheadingFontS;

    #qMark{
        color: $mainRed;
    }
}

#stgHead, #abTitle, #stTitle{
    border: 10px solid $mainYellow;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: $taglineFontF;
}
#abText{
    @media screen and (min-width: 1200px){
        border: 10px solid $mainYellow;
        padding: 1rem;
        font-family: $taglineFontF;
        font-size:$dpFontS;
        height: 100%;
    }
}
#stTitle{
    @media screen and (min-width: 1200px){
    font-size: $dheadingFontS;
    }
}


#stages{
    overflow: hidden;
    .spTxt{
        font-family: $mainFontF;
        h3 {
            color: grey;
            font-size: $mnumberS;
            display: inline;
            margin-right: 1.2rem;
             vertical-align: middle;
             @media screen and (min-width: 1200px){
                font-size: $dnumberS;
            }

        }
        p{
            font-size: $mpFontS;
            display: inline;
            vertical-align: middle;
            @media screen and (min-width: 1200px){
                font-size: $dpFontS;
            }
        }
    }
    
    // pulse icon scss 
  
  
     // steps section scss
     #steps{
         margin-top:0;
     }
}
.rightF {
    float:right;
}
#about{
    h2{
        @media screen and (min-width: 1200px){
            font-size: $dheadingH;
            line-height: 1em;
        }
    }
    p{
        font-size: $mpFontS;
    }
    #abTitle{
        @media screen and (min-width: 1200px){
        border: none;
        }
    }
    #organLight{
        position: relative;
        img{
            position: absolute;
            max-height: 60vh;
            max-width: 60%;
            right:0;
        }
        
    }
}

#steps{
    overflow: hidden;
    h2{
        text-align: center;
    }
}